* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(223, 192, 151);
}

.title {
    color: rgb(150, 36, 36);
}

.main {
    text-align: center;
    font-size: 52px;
}

.img-center {
    text-align: center;
}
